<%# View that the Picker sees during the game%>
<% include game_nav %>
<%if(game.rounds.length>1){%>
  <% include results %>
<%}%>
<div class="container">
  <h4 class="text-center titles"><%=game.name%></h4>
  <h2 id="picker" class="text-center titles">You are the Picker</h2>
  <h1 class="font text-center"><%=game.rounds[game.rounds.length - 1].word%></h1>

  <%# David's code to get photos%>

  <div id="pickerPhotos" class="text-center">
    <h2 class="gameWord">Waiting for Pictures...</h2>
  </div>

  <div class="row text-center">
    <% game.users.forEach(function(el){ %>
      <div class="userName" data-id="<%= el._id %>">
      <%picsThisRound.forEach(function(pic){%>
        <%if(el._id.toString() == pic.user.toString()){%>
          <span class="glyphicon glyphicon-ok green"></span><br>
        <%}%>
      <%})%>
        <%= el.local.name %>
      </div>
  <% }) %>
  </div>

  <div class="col-md-1">
    <a href="/game/<%=game._id%>/library">
      <img src="/images/library-icon-2.png" class="icon"><br>
    </a>
    <p>Photos</p>
  </div>
</div>



<%# ajax pull for word generator api%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.0/socket.io.js" charset="utf-8"></script>
<script type="text/javascript">

  var socket = io('/'+ '<%=game.id%>')

  socket.on('testRes', function(data){
    console.log(data)
  })


  socket.on('displayPhotos', function(data){
    data.forEach(function(el){
      console.log(el.url)
      $('#pickerPhotos').html('<img class="photosToPick" user="'+el.user+'" src="'+ el.url+ '">')
    })
  })

/////////////David's photo logic///////
console.log('Players: <%=game.users.length-1%>')
console.log('pics uploaded: <%=game.rounds[game.rounds.length-1].pics.length%>')
var players = <%=game.users.length-1%>
var pics = <%=game.rounds[game.rounds.length-1].pics.length%>

if(pics >= players){
  console.log("players equals pics")
  $('#pickerPhotos').html("")
  $.ajax({
    method: 'GET',
    url: '/game/<%= game._id %>/photos',
  }).done(function(data){
    data.forEach(function(el){
      console.log(el.url)
      $('#pickerPhotos').append('<img class="photosToPick" user="'+el.user+'" src="'+ el.url+ '">')
      })
    })
  }

socket.on('resCheckmark', function(data){
  console.log(data)
  $('.userName[data-id=' + data.user + ']').prepend('<span class="glyphicon glyphicon-ok green"></span><br>')
if(pics >= players){
  console.log("players equals pics")
  $('#pickerPhotos').html("")
  $.ajax({
    method: 'GET',
    url: '/game/<%= game._id %>/photos',
  }).done(function(data){
    data.forEach(function(el){
      console.log(el.url)
      $('#pickerPhotos').text('<img class="photosToPick" user="'+el.user+'" src="'+ el.url+ '">')
      })
    })
  }
})




$('#pickerPhotos').on('click', '.photosToPick', function(){
  var winner = $(this).attr('user')
  var pic = $(this).attr('src')
  var results = {user: winner, url: pic}
  var lastRoundNumber = <%=game.rounds[game.rounds.length-1].round%>
  var data = {round: lastRoundNumber+1, picker: winner, pics: []}
  $.ajax({
    method: 'PATCH',
    url: '/game/<%=game._id%>/winner',
    contentType: 'application/json',
    data: JSON.stringify(results)
  }).done(function(results){
    console.log(results)

    $.ajax({
      method: 'PATCH',
      url: '/game/<%=game._id%>/new_round',
      contentType: 'application/json',
      data: JSON.stringify(data)
    }).done(function(data){
      console.log("Winner is: "+data)
      window.location.href = '/game/<%=game._id%>'

      socket.emit("pickerChose", "Sending request to show results")
    })


  })


})

///////////Gets score///////////
var winnerIds =[];
<%game.winners.forEach(function(w){%>
  winnerIds.push('<%=w.user._id%>')
  <%})%>


  function countInArray(array, id) {
      var count = 0;
      for (var i = 0; i < array.length; i++) {
          if (array[i] === id) {
              count++;
          }
      }
      return count;
  }

$('.userName').each(function(user){
  var memberId = $(this).attr('data-id')
  $(this).append('<br><span class="badge">'+countInArray(winnerIds, memberId)+'</span>')
})

</script>
